
RubiksCube/obj/Debug/RubiksCube.pdb
RubiksCube/obj/Debug/RubiksCube.csproj.FileListAbsolute.txt
RubiksCube/obj/Debug/RubiksCube.csprojAssemblyReference.cache
RubiksCube/obj/Debug/RubiksCube.exe
RubiksCube/bin/Debug/RubiksCube.pdb
RubiksCube/bin/Debug/RubiksCube.exe
.DS_Store
._.DS_Store
RubiksCube/._Cube.cs
